body {
  background-color: white;  
}

.divider {
   display:block;
  position: absolute;
    top:10%;
  left:50%;
  border-bottom:1px solid black;
  width:0%;
  text-align:center;
  animation: line .75s linear forwards;
}

h1 {
  color: black;  
  font-family: Eurostile, Arial, Calibri, sans-serif;
  margin-bottom: -20px;  
  
}


h2 {
  color: black;
  font-family: Eurostile, Arial, Calibri, sans-serif;
  margin-bottom: -12px;
  padding-left: 20px;  
 
}


h3 {
  color: black;
  font-family: Eurostile, Arial, Calibri, sans-serif;
  margin-bottom: -12px;
   padding-left: 20px;
}

h4 {
  color: black;
  font-family: Eurostile, Arial, Calibri, sans-serif;
}

h5 {
  color: black;
  font-family: Eurostile, Arial, Calibri, sans-serif;
  margin-bottom: -12px;
  
}

p, li { 
  color: black;
  font-family: Eurostile, Arial, Calibri, sans-serif;
  line-height: 15px
    padding-left: 20px;
  
  
}


.name {
  text-align: center;
  animation: fadeIn .5s;
}

.address-info{
  text-align: center;
  display:flex;
  width: 100%;
  justify-content: space-around;  
  animation: fadeIn 1s;  
}

.prof-summary{
   animation: fadeIn 1.25s;  
}

.experience-title{
    animation: fadeIn 1.5s;
}
.company{
    animation: fadeIn 1.75s;
}

.company-title{
   margin-bottom: -20px;
  animation: fadeIn 2s;
}

.work-role{
  padding-left: 25px;
  animation: fadeIn 2.25s;
}

.role-bullet{   
  animation: fadeIn 2.5s;
}

.education{
     animation: fadeIn 2.75s;
}
.education-info{
  padding-left: 25px;     
  animation: fadeIn 3s;  
}

.summary-text{
  padding-left: 20px;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY{-200%});}
  100% { opacity: 1;} 
  
}

@keyframes line {
  from {
    left:50%;
    width:0%;
  }
  to {
    left:5%;
    width:90%;
  }
}
